@model Tablero

@{ViewData["title"]="Crear tablero";}

<h1 class="text-center">Crear tablero</h1>
<form asp-controller="Tablero" asp-action="CrearTablero" method="post" class="form-view">
    <section>
        <label class="form-label">Nombre: </label>
        <input asp-for = "@Model.Nombre" required class="form-control">
    </section>
    <section>
        <label class="form-label">Descripcion: </label>
        <input asp-for = "@Model.Descripcion" class="form-control">
    </section>
    <section>
        <label hidden>Id de usuario propietario: </label>
        <input hidden asp-for="@Model.IdUsuarioPropietario" value="@ViewBag.IdUsuario">
    </section>    
    <input type="submit" class="btn btn-outline-success" value="Confirmar">
</form>